<table tuiTable class="table" [columns]="columns">
  <thead>
  <tr tuiThGroup>
    <th tuiTh>Название</th>
    <th tuiTh>Годы</th>
    <th tuiTh>Адрес</th>
    <th tuiTh>Фото</th>
    <th tuiTh>Тип</th>
    <th tuiTh>Стиль</th>
    <th tuiTh>Архитектор</th>
  </tr>
  </thead>
  <tbody tuiTbody [data]="paginatedData">
  <tr *ngFor="let item of paginatedData" tuiTr>
    <td *tuiCell="'Название'" tuiTd>{{ item.name }}</td>
    <td *tuiCell="'Годы'" tuiTd>{{ getRenameYears(item.renameYears) }}</td>
    <td *tuiCell="'Адрес'" tuiTd>{{ item.address }}</td>
    <td *tuiCell="'Фото'" tuiTd>
      <img [src]="item.photoUrl" alt="Photo" width="100" />
    </td>
    <td *tuiCell="'Тип'" tuiTd>{{ item.type }}</td>
    <td *tuiCell="'Стиль'" tuiTd>{{ item.style }}</td>
    <td *tuiCell="'Архитектор'" tuiTd>{{ item.architect }}</td>
  </tr>
  </tbody>
</table>

<tui-pagination
  [length]="totalPages"
  [(index)]="currentPage"
  [size]="'l'"
  (indexChange)="onPageChange($event)"
></tui-pagination>
