<div class="row mt-4">
  <div class="col-2">
    <app-toponym-filters></app-toponym-filters>
    <app-import-export></app-import-export>
  </div>
  <div class="col-10">
    <!-- Отображение количества найденных топонимов -->
    <div class="mb-3">
      <span class="fw-bold">Найдено топонимов:</span> {{ totalToponymsCount }}
    </div>

    <!-- Таблица топонимов -->
    <app-toponym-table
      [data]="filteredData"
      [columns]="columns"
      [pageSize]="pageSize"
      (pageChanged)="onPageChanged($event)">
    </app-toponym-table>
  </div>
</div>
