<div class="row">
  <div class="col-2">
    <tui-multi-select
      [formControl]="filtersForm.controls['type']"
      [tuiTextfieldLabelOutside]="false"
      [(search)]="searchType"
    >
      Тип
      <tui-data-list-wrapper
        *tuiDataList
        tuiMultiSelectGroup
        [items]="filterTypes(searchType)"
      ></tui-data-list-wrapper>
    </tui-multi-select>

    <tui-multi-select
      [formControl]="filtersForm.controls['style']"
      [tuiTextfieldLabelOutside]="false"
      [(search)]="searchStyle"
    >
      Стиль
      <tui-data-list-wrapper
        *tuiDataList
        tuiMultiSelectGroup
        [items]="filterStyles(searchStyle)"
      ></tui-data-list-wrapper>
    </tui-multi-select>

    <tui-select
      [formControl]="filtersForm.controls['hasPhoto']"
      [tuiTextfieldCleaner]="true"
    >
      Наличие фото
      <tui-data-list *tuiDataList>
        <button tuiOption [value]="null">Не выбрано</button>
        <button tuiOption [value]="true">Есть</button>
        <button tuiOption [value]="false">Нет</button>
      </tui-data-list>
    </tui-select>

    <tui-input
      [formControl]="filtersForm.controls['architect']"
      [tuiTextfieldCleaner]="true"
    >
      Архитектор
      <input tuiTextfieldLegacy />
    </tui-input>

    <tui-input
      [formControl]="filtersForm.controls['renamedTo']"
      [tuiTextfieldCleaner]="true"
    >
      Переименован в
      <input tuiTextfieldLegacy />
    </tui-input>

    <tui-input
      [formControl]="filtersForm.controls['cardSearch']"
      [tuiTextfieldCleaner]="true"
    >
      Поиск по карточке
      <input tuiTextfieldLegacy />
    </tui-input>

    <tui-input-year
      [formControl]="filtersForm.controls['constructionDateFrom']"
      [tuiTextfieldCleaner]="true"
    >
      Дата постройки от
      <input tuiTextfieldLegacy />
    </tui-input-year>

    <tui-input-year
      [formControl]="filtersForm.controls['constructionDateTo']"
      [tuiTextfieldCleaner]="true"
    >
      Дата постройки до
      <input tuiTextfieldLegacy />
    </tui-input-year>
  </div>
  <div class="col-10">
    <app-toponym-table
      [data]="data"
      [columns]="columns"
      [pageSize]="pageSize">
    </app-toponym-table>
  </div>
</div>
