<div class="filters">
  <tui-multi-select
    [formControl]="filtersForm.controls['type']"
    [tuiTextfieldLabelOutside]="false"
    [(search)]="searchType"
  >
    Тип
    <tui-data-list-wrapper
      *tuiDataList
      tuiMultiSelectGroup
      [items]="filterTypes(searchType)"
    ></tui-data-list-wrapper>
  </tui-multi-select>

  <tui-multi-select
    [formControl]="filtersForm.controls['style']"
    [tuiTextfieldLabelOutside]="false"
    [(search)]="searchStyle"
    class="mt-2"
  >
    Стиль
    <tui-data-list-wrapper
      *tuiDataList
      tuiMultiSelectGroup
      [items]="filterStyles(searchStyle)"
    ></tui-data-list-wrapper>
  </tui-multi-select>

  <tui-select
    [formControl]="filtersForm.controls['hasPhoto']"
    [tuiTextfieldCleaner]="true"
    class="mt-2"
  >
    Наличие фото
    <tui-data-list *tuiDataList>
      <button tuiOption [value]="null">Не выбрано</button>
      <button tuiOption [value]="true">Есть</button>
      <button tuiOption [value]="false">Нет</button>
    </tui-data-list>
  </tui-select>

  <tui-input
    [formControl]="filtersForm.controls['architect']"
    [tuiTextfieldCleaner]="true"
    class="mt-2"
  >
    Архитектор
    <input tuiTextfieldLegacy />
  </tui-input>

  <tui-input
    class="mt-2"
    [formControl]="filtersForm.controls['cardSearch']"
    [tuiTextfieldCleaner]="true"
  >
    Поиск по карточке
    <input tuiTextfieldLegacy />
  </tui-input>

  <tui-input
    class="mt-2"
    [formControl]="filtersForm.controls['address']"
    [tuiTextfieldCleaner]="true"
  >
    Адрес
    <input tuiTextfieldLegacy />
  </tui-input>

  <tui-input
    class="mt-2"
    [formControl]="filtersForm.controls['name']"
    [tuiTextfieldCleaner]="true"
  >
    Название
    <input tuiTextfieldLegacy />
  </tui-input>

  <tui-input-year
    class="mt-2"
    [formControl]="filtersForm.controls['constructionDateFrom']"
    [tuiTextfieldCleaner]="true"
  >
    Дата постройки от
    <input tuiTextfieldLegacy />
  </tui-input-year>

  <tui-input-year
    class="mt-2"
    [formControl]="filtersForm.controls['constructionDateTo']"
    [tuiTextfieldCleaner]="true"
  >
    Дата постройки до
    <input tuiTextfieldLegacy />
  </tui-input-year>

  <tui-input-year
    class="mt-2"
    [formControl]="filtersForm.controls['renamedDateFrom']"
    [tuiTextfieldCleaner]="true"
  >
    Переименован в году от
    <input tuiTextfieldLegacy />
  </tui-input-year>

  <tui-input-year
    class="mt-2"
    [formControl]="filtersForm.controls['renamedDateTo']"
    [tuiTextfieldCleaner]="true"
  >
    Переименован в году до
    <input tuiTextfieldLegacy />
  </tui-input-year>
</div>
